@using SchedulingAssistance.Helpers
<div class="row">
    <div class="container">
        @if (User.IsInRole(GetRolesHelper.Admin))
        {
            <div class="form-group row col-2" id="divDoctorList">
                <label>Select a doctor</label>
                @Html.DropDownList("doctorId",
                    new SelectList(ViewBag.DoctorsList, "Id", "Name"),
                    new {@class="form-control select2"})
            </div>
        }
        <div id="calendar">

        </div>
    </div>

</div>

<partial name="_AddEditAppointment" />